@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.red {
  text-decoration: none;
  color: hsla(0, 100%, 50%, 0.8);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 100%, 30%, 0.8);
  }
}

body {
  display: flex;
}